In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_excel('../data/data_eda.xlsx', index_col=0)

In [3]:
pd.options.display.max_columns = None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396030 entries, 0 to 396029
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396030 non-null  int64
 1   term                  396030 non-null  object
 2   int_rate              396030 non-null  float64
 3   installment           396030 non-null  float64
 4   grade                 396030 non-null  object
 5   sub_grade             396030 non-null  object
 6   emp_title             373103 non-null  object
 7   emp_length            377729 non-null  object
 8   home_ownership        396030 non-null  object
 9   annual_inc            396030 non-null  float64
 10  verification_status   396030 non-null  object
 11  issue_d               396030 non-null  datetime64[ns]
 12  loan_status           396030 non-null  object
 13  purpose               396030 non-null  object
 14  title                 394274 non-null  object
 15  dti                   396030 non-null  float64
 16  earliest_cr_line      396030 non-null  datetime64[ns]
 17  open_acc              396030 non-null  int64
 18  pub_rec               396030 non-null  int64
 19  revol_bal             396030 non-null  int64
 20  revol_util            395754 non-null  float64
 21  total_acc             396030 non-null  int64
 22  initial_list_status   396030 non-null  object
 23  application_type      396030 non-null  object
 24  mort_acc              358235 non-null  float64
 25  pub_rec_bankruptcies  395495 non-null  float64
 26  address               396030 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(5), object(13)
memory usage: 84.6+ MB

In [5]:
df.shape

(396030, 27)

In [13]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
num_cols, len(num_cols)

(Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc',
        'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc',
        'pub_rec_bankruptcies'],
       dtype='object'),
 12)

In [14]:
df[num_cols].describe()

,loan_amnt,int_rate,installment,annual_inc,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,mort_acc,pub_rec_bankruptcies
count,396030.000000,396030.000000,396030.000000,3.960300e+05,396030.000000,396030.000000,396030.000000,3.960300e+05,395754.000000,396030.000000,358235.000000,395495.000000
mean,14113.888089,13.639400,431.849698,7.420318e+04,17.379514,11.311153,0.178191,1.584454e+04,53.791749,25.414744,1.813991,0.121648
std,8357.441341,4.472157,250.727790,6.163762e+04,18.019092,5.137649,0.530671,2.059184e+04,24.452193,11.886991,2.147930,0.356174
min,500.000000,5.320000,16.080000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,0.000000
25%,8000.000000,10.490000,250.330000,4.500000e+04,11.280000,8.000000,0.000000,6.025000e+03,35.800000,17.000000,0.000000,0.000000
50%,12000.000000,13.330000,375.430000,6.400000e+04,16.910000,10.000000,0.000000,1.118100e+04,54.800000,24.000000,1.000000,0.000000
75%,20000.000000,16.490000,567.300000,9.000000e+04,22.980000,14.000000,0.000000,1.962000e+04,72.900000,32.000000,3.000000,0.000000
max,40000.000000,30.990000,1533.810000,8.706582e+06,9999.000000,90.000000,86.000000,1.743266e+06,892.300000,151.000000,34.000000,8.000000

In [18]:
# remove pub_rec_bankruptcies and pub_rec from num_cols
num_cols = num_cols.drop(['pub_rec_bankruptcies', 'pub_rec'])
num_cols

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc',
       'revol_bal', 'revol_util', 'total_acc', 'mort_acc'],
      dtype='object')

In [19]:
# remove outlier in numerical columns using iqr
q1 = df[num_cols].quantile(0.25)
q3 = df[num_cols].quantile(0.75)

iqr = q3 - q1

df = df[~((df[num_cols] < (q1 - 1.5 * iqr)) | (df[num_cols] > (q3 + 1.5 * iqr))).any(axis=1)]

In [20]:
df.shape

(336177, 27)

In [21]:
df[num_cols].describe()

,loan_amnt,int_rate,installment,annual_inc,dti,open_acc,revol_bal,revol_util,total_acc,mort_acc
count,336177.000000,336177.000000,336177.000000,336177.000000,336177.000000,336177.000000,336177.000000,335955.000000,336177.000000,301913.000000
mean,12849.123081,13.514942,391.852054,64251.141327,17.237149,10.587277,12184.458523,53.389148,23.586388,1.531368
std,7313.861059,4.275974,208.792717,28280.442277,8.033484,4.272457,8657.004616,24.270971,10.231785,1.800867
min,500.000000,5.320000,16.250000,4000.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
25%,7200.000000,10.490000,236.980000,43000.000000,11.250000,7.000000,5602.000000,35.600000,16.000000,0.000000
50%,11625.000000,13.330000,350.920000,60000.000000,16.800000,10.000000,10135.000000,54.300000,22.000000,1.000000
75%,17500.000000,16.290000,515.080000,80000.000000,22.810000,13.000000,16891.000000,72.200000,30.000000,3.000000
max,38000.000000,25.440000,1042.700000,157500.000000,40.520000,23.000000,40012.000000,128.100000,54.000000,7.000000

In [24]:
df.isna().sum() / df.shape[0]

loan_amnt               0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               0.059629
emp_length              0.048906
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.004182
dti                     0.000000
earliest_cr_line        0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.000660
total_acc               0.000000
initial_list_status     0.000000
application_type        0.000000
mort_acc                0.101922
pub_rec_bankruptcies    0.001416
address                 0.000000
dtype: float64

loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title               20046
emp_length              16441
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                    1406
dti                         0
earliest_cr_line            0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                222
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                34264
pub_rec_bankruptcies      476
address                     0
dtype: int64

In [27]:
df["mort_acc"].fillna(method="ffill", inplace=True)

In [28]:
df.isna().sum() / df.shape[0]

loan_amnt               0.000000
term                    0.000000
int_rate                0.000000
installment             0.000000
grade                   0.000000
sub_grade               0.000000
emp_title               0.059629
emp_length              0.048906
home_ownership          0.000000
annual_inc              0.000000
verification_status     0.000000
issue_d                 0.000000
loan_status             0.000000
purpose                 0.000000
title                   0.004182
dti                     0.000000
earliest_cr_line        0.000000
open_acc                0.000000
pub_rec                 0.000000
revol_bal               0.000000
revol_util              0.000660
total_acc               0.000000
initial_list_status     0.000000
application_type        0.000000
mort_acc                0.000000
pub_rec_bankruptcies    0.001416
address                 0.000000
dtype: float64

In [29]:
df.dropna(inplace=True)

In [30]:
df.shape

(314084, 27)

In [32]:
df.to_excel("../data/data_cleaned.xlsx")